<div class='container'>
  <div class='center jumbotron dark'>
    <h1>Log In</h1>
  </div>
  <div class='center jumbotron dark'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <p><%= f.label :email %></p>
        <%= f.email_field :email, autofocus: true, class: 'form-control grey-text-area' %>
      </div>
      <div class="field">
        <p><%= f.label :password %></p>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control grey-text-area' %>
      </div>
      <div class="actions">
        <%= f.submit "Log in" ,class: 'btn btn-primary green-btn'%>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
