<% provide(:title, "My Profile") %>
<div class="center jumbotron">
  <h1>My Profile</h1>
    <p class="pull-left">Hello ,<%= @user.name.split(" ", ).first %>    </p>
    <button type="button" class="btn btn-primary pull-left">
  <%= link_to("Edit",edit_user_registration_path) %>
</button>
</div>
<% if current_user && current_user.spotify_refresh_token? %>
<div>
  <% if @user.positivity_score? %>
  <p>Your Positivity score is <%= @user.positivity_score %>/1.00</p>
  <% end %>
  <h2>Your Favourites</h2>

  <table class="table">
  <thead>
    <tr>
      <th>Cover</th>
      <th>Song Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @favourites['items'].each do |e| %>
    <tr>
      <td><img src=<%=e['album']["images"].third['url']%> alt="rss feed"/></td>
      <td><%= e["name"] %></td>
      <td><%= e['artists'].first['name'] %></td>
      <td><%= e['album']["name"] %></td>
      <td><button type="button" class="btn btn-primary btn-add">X</button></td>
    </tr>
      <% end %>
  </tbody>
</table>
<% else %>
<h2>Please link your account to Spotify using the button below to see favourite tracks</h2>
<% end %>
<% if current_user && current_user.spotify_refresh_token? %>

<% else %>
<div>
<p>Link your spotify account below (WIP):</p>
<button type="button" class="btn btn-primary">
  <%= link_to 'Sign in with Spotify',link_spotify_user_path(@user), method: :post  %>
</button>
</div>
<% end %>
