<% provide(:title, "My Profile") %>
<div class="container">
  <div class='center jumbotron dark'>
    <h1>My Profile</h1>
  </div>
  <div class='center jumbotron dark'>
    <p class="pull-left">Hello <%= @user.name.split(" ", ).first %>!</p>
    <%= button_to 'Edit', edit_user_registration_path,method: :get, class: 'pull-right btn btn-primary green-btn' %>
    <% if @user.positivity_score? %>
      <p>Your Positivity score is <%= (@user.positivity_score * 100).round(2) %>/100</p>
    <% end %>
  </div>
  <% if current_user && current_user.spotify_refresh_token? %>
    <div class='center jumbotron dark'>
      <h3>Your Favourites</h3>
      <div>
        <%= form_tag(display_playlist_path) do |f| %>
        <%= hidden_field_tag(:playlist_type, 'favourites') %>
        <%= submit_tag 'Click me to listen to your favourites!*', class: 'btn btn-primary green-btn' %>
        <p><small>* Will open a new page in your current tab.</small></p>
        <% end %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Cover</th>
            <th>Song Name</th>
            <th>Artist</th>
            <th>Album</th>
          </tr>
        </thead>
        <tbody>
          <% @favourites['items'].each do |e| %>
            <tr>
              <td><img src=<%=e['album']["images"].third['url']%> alt="rss feed"/></td>
              <td><%= e["name"] %></td>
              <td><%= e['artists'].first['name'] %></td>
              <td><%= e['album']["name"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
  <div class='center jumbotron dark'>
    <h2>Please link your account to Spotify using the button below to see favourite tracks</h2>
    <div>
      <p>Link your spotify account below:</p>
      <%= button_to 'Link to Spotify', link_spotify_user_path(@user), method: :post, class: 'btn btn-primary green-btn' %>
    </div>
  </div>
  <% end %>
</div>
