<% @articles.each do |article| %>
  <div class='center jumbotron dark'>
    <h3><%= article.title %></h3>
    <p><%= article.text %></p>
    <div>
      <small>Created by <%= article.user.name %> at <%= article.created_at %></small>
    </div>
    <div>
      <p><%= article.comments.count %> comments.</p>
    <div>
      <%= button_to 'View', article_path(article), { method: :get, class: "btn btn-primary green-btn" } %>
      <% if current_user && current_user.admin? %>
        <%= button_to 'Modify', edit_article_path(article), { method: :get, class: "btn btn-primary green-btn"} %>
        <%= button_to 'Delete', article_path(article),
                               {method: :delete,
                                class: "btn btn-primary green-btn",
                                data: {confirm: "Are you sure you want to delete this article?"}} %>
      <% end %>
    </div>
  </div>
  <% end %>
