<% provide(:title, "Positivity Rankings") %>
<div class="container">
  <div>
    <h1>Positivity</h1>
    <% if current_user && current_user.positivity_score? %>
    <h3>Your Positivity Score:
      <%= (current_user.positivity_score * 100).round(2) %>/100
    </h3>
    <% end %>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Positivity Score</th>
            <th>Old Positivity Score</th>
            <th>Up <i class="fa fa-arrow-up" aria-hidden="true"></i>/
              Down <i class="fa fa-arrow-down" aria-hidden="true"></i>/
              Same <i class="fa fa-arrows-h" aria-hidden="true"></i></th>
          </tr>
        </thead>
        <tbody>
          <% i = 0 %>
          <% @users.each do |u| %>
          <% if u.positivity_score? %>
            <tr>
              <td><%= i += 1 %></td>
              <td><%= u.name %></td>
              <td><%= (u.positivity_score * 100).round(2) %>/100</td>
              <td><%= (u.old_positivity_score * 100).round(2) %>/100</td>
              <td>
                <% if u.positivity_score > u.old_positivity_score %>
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                <% elsif u.positivity_score < u.old_positivity_score %>
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                <% else %>
                <i class="fa fa-arrows-h" aria-hidden="true"></i>
                <% end %>
            </tr>
            <% end %>
            <% end %>
        </tbody>
      </table>
      <% if current_user && current_user.admin? %>
        <button type="button" class="btn btn-primary">
          <%= link_to "Send to Slack", slack_path %>
        </button>
      <% end %>
</div>
