<div class='container'>
  <div class='center jumbotron dark'>
    <h1>Report a bug</h1>
  </div>
  <div class='center jumbotron dark'>
    <%= form_for :bug, url: bugs_path do |f| %>
      <% if @bug.errors.any? %>
        <div id='error_explanation'>
          <ul class='pull-left'>
            <% @bug.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class='field'>
        <p class='pull-left'><%= f.label :title %></p>
        <%= f.text_field :title, {class: 'grey-text-area'} %>
      </div>
      <div class='field'>
        <p class='pull-left'><%= f.label :type %></p>
        <%= f.select(:bug_type, ["Playlist creation","User registration","Site navigation",
                             "Report a bug"])%>
      </div>
      <div class='field'>
        <p class='pull-left'><%= f.label :content %></p>
        <%= f.text_area :content, {class: 'grey-text-area',rows: '5'} %>
      </div>

      <%= f.submit 'Create', class: 'btn btn-primary green-btn' %>
    <% end %>
  </div>
