<div>
  <p>Copy Song URI:</p>
  <small>At least one of these is required.</small>
  <small>If none entered default will be "Rick Astley - Never Gonna Give You Up"</small>
  <ol>
    <li><p>Open Spotify</p></li>
    <li><p>Right click on a song</p></li>
    <li><p>Click on "Copy Spotify URI"</p></li>
  </ol>

</div>
  <div>
    <p><%=label_tag(:seed_id_1,"Song 1") %></p>
    <%=text_field_tag(:seed_id_1) %>
    <p><%=label_tag(:seed_id_2,"Song 2") %></p>
    <%=text_field_tag(:seed_id_2) %>
    <p><%=label_tag(:seed_id_3,"Song 3") %></p>
    <%=text_field_tag(:seed_id_3) %>
    <p><%=label_tag(:seed_id_4,"Song 4") %></p>
    <%=text_field_tag(:seed_id_4) %>
    <p><%=label_tag(:seed_id_5,"Song 5") %></p>
    <%=text_field_tag(:seed_id_5) %>
</div>
