<div>
  <%= form_tag(display_playlist_path) do |f| %>
  <%= hidden_field_tag(:playlist_type,'playlist') %>
  <p><%= label_tag(:mood,"Please select a mood:") %></p>
  <% option = rand(1..20) %>
  <%= select_tag(:mood, options_for_select(@mood_choices,@mood_choices[option])) %>
  <p>Click Submit to be get your recommendations!</p>
  <%=submit_tag 'Submit', class: 'btn btn-primary green-btn'%>
  <% end %>
</div>
