
<div class="container center jumbotron">
  <%= form_tag(display_playlist_path) do |f| %>
  <%= render 'general_choices' %>


  <% if current_user && current_user.spotify_refresh_token? %>
    <%= render 'favourites_choice' %>
    <%= render 'submit_button' %>

  <% else %>

  <%= render 'enter_song' %>
  <%= render 'submit_button' %>

  <% end %>


  <%end%>

  <% if current_user %>
  <%= render 'playlist_form' %>
  <% end %>
  <% if current_user && current_user.spotify_refresh_token? %>
  <%= render 'favourites_form' %>
  <% end %>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Favourites Choice</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <%= render 'favourites_choice' %>
      <%= render 'submit_button' %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Enter Songs</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <%= render 'enter_song' %>
      <%= render 'submit_button' %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Playlist of Favourites</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <%= render 'favourites_form' %>
    </div>
  </div>
</div>
