<div class='container'>
  <%= form_tag(display_playlist_path) do |f| %>
  <div class='center jumbotron dark'>
    <h1>Create a Playlist</h1>
  </div>
  <div class='center jumbotron dark'>
    <h3>Step 1 - Choose number of songs and popularity</h3>
  </div>
  <div class='center jumbotron dark'>
    <%= render 'general_choices' %>
  </div>
  <div class='center jumbotron dark'>
    <h3>Step 2 - Choose the type of playlist and hit Submit</h3>
    <p>Click one of the options below...</p>
  </div>
  <% if current_user && current_user.spotify_refresh_token? %>
    <div class='center dark header'>
      <h3>Use some of your favourites</h3>
    </div>
    <div class='center jumbotron dark content'>
      <%= render 'favourites_choice' %>
      <%= render 'submit_button' %>
    </div>
  <% end %>
  <div class='center dark header'>
    <h3>Enter Song URI's</h3>
  </div>
  <div class='center jumbotron dark content'>
    <%= render 'enter_song' %>
    <%= render 'submit_button' %>
  </div>
  <% end %>
  <div class='center dark header'>
    <h3>Choose a Spotify Mood Playlist</h3>
  </div>
  <div class='center jumbotron dark content'>
      <%= render 'playlist_form' %>
  </div>
  <% if current_user && current_user.spotify_refresh_token? %>
    <div class='center dark header'>
      <h3>Listen to your favourites</h3>
    </div>
    <div class='center jumbotron dark content'>
      <%= render 'favourites_form' %>
    </div>
  <% end %>
</div>
