<% provide(:title, "My Recommendations") %>
<div class='container'>
  <div class='center fixedElement dark' id='player'>
    <h1 class="pull-left">SongSpot - Playlist</h1>
    <p><iframe src="https://embed.spotify.com/?uri=spotify:trackset:Tracks:<%= @tracks %>&theme=white" width="640" height="80" frameborder="0" allowtransparency="true"></iframe></p>
  </div>
  <div class="center jumbotron dark">
    <h1> </h1>
    <h2> </h2>
    <table class="table lower_table">
      <thead>
        <tr>
          <th>Cover</th>
          <th>Song Name</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Popularity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if params[:playlist_type] == "songs" %>
            <%= render 'songs_playlist' %>
          <% elsif params[:playlist_type] == "playlist" %>
            <%= render 'playlist_playlist' %>
          <% elsif params[:playlist_type] == "favourites" %>
            <%= render 'favourites_playlist' %>
          <% end %>
        </tbody>
      </table>
    </div>
  <div class=col-md-3 pull-left>
    <!--<iframe src="https://embed.spotify.com/?uri=spotify:trackset:Tracks:<%= @tracks %>&theme=white&view=coverart" frameborder="0" allowtransparency="true" width="600" height="400" frameborder="0" allowtransparency="true"></iframe> -->
  </div>
</div>
