<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <script src="https://use.fontawesome.com/d95b3f22fd.js"></script>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= Gon::Base.render_data %>
  </head>
  <body>

    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
