!!!
%html
  %head
    %title=full_title(yield(:title))
    %script{:src => 'https://use.fontawesome.com/d95b3f22fd.js'}
    %link{:href => 'https://fonts.googleapis.com/css?family=Open+Sans', :rel => 'stylesheet', :type => 'text/css'}
    = render 'layouts/rails_default'
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .container
      = yield
      = render 'layouts/footer'
